.services{
  position: relative;
  height: 650px;
}
.services-background{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
.services-content{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 95px;
}
.services-title{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services-maintitle{
  color: white;
  font: 34px din-next-w01-light;
}
.services-line{
  text-align: center;
  width: 36px;
  height: 2.4px;
  background-color: white;
}
.services-icons{
  display: flex;
  padding-left: 20%;
  padding-right: 20%;
  gap: 90px;
  justify-content: center;
}
.services-icon{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.services-icon-title{
  color: white;
  font: 20px din-next-w01-light;
  text-align: center;
}
.services-title-description{
  color: white;
  font: 17px din-next-w01-light;
  width: 180px;
  text-align: center;
  margin-top: -10px;
}