.title{
  font-family: LeMurmure;
  font-size: 45px;
  color: white;
  margin-right: 130px;
}
.circles{
  margin-right: 10px;
}
.catalog-button{
  font-family: Euclid Circular A;
  font-size: 18px;
  color: white;
  margin-right: 280px;
  cursor: pointer;
}
.news-button{
  font-family: Euclid Circular A;
  font-size: 18px;
  color: white;
  margin-right: 45px;
  cursor: pointer;
}
.contacts-button{
  font-family: Euclid Circular A;
  font-size: 18px;
  color: white;
  margin-right: 390px;
  cursor: pointer;
}
.search-image{
  vertical-align: bottom;
  margin-right: 12px;
  cursor: pointer;
}
.search-box{
  border: none;
  background-color: rgba(0, 0, 0, 0);
  margin-right: 55px;
  height: 30px;
  width: 220px;
  color: white;
  font-size: 18px;
  font-family: Euclid Circular A;
  outline: 0;
}
.search-box::placeholder{
  color: white;
  font-size: 18px;
  font-family: Euclid Circular A;
}
.icons-active{
  margin-right: 50px;
  cursor: pointer;
  border-radius: 100px;
}
.icons-passive{
  margin-right: 50px;
  cursor: pointer;
  border-radius: 100px;
}
.icons-active:hover, .icons-passive:hover{
  background-color: rgba(255, 255, 255, 0.3);
}
.product-author{
  position: absolute;
  top: 40%;
  left: -5%;
  right: -5%;
  font-size: 100px;
  font-family: Floreste;
  color: #CBB6FF;
  transition: font-size 0.5s, left 0.5s, opacity 0.5s;
}
.product-card2 .product-author{
  color: #FFA8F6;
}
.product-card3 .product-author{
  color: #C8DEFF;
}
.product-incard-image{
  position: absolute;
  top: 10%;
  left: 24%;
  height: 425px;
  width: 290px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.5s, width 0.5s, height 0.5s, left 0.5s, top 0.5s;
}
.product-info{
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 70%;
  left: 22%;
  text-align: center;
  transition: left 0.5s, opacity 0.5s;
}
.product-card3 .product-info{
  left: 23%;
}
.product-info p{
  margin: 0;
  width: 275px;
  font-family: Euclid Circular A;
  color: white;
}
.line{
  width: 274px;
  color: #FFFFFF33;
  border: solid;
  border-width: 1px;
}
.daily-product{
  position: absolute;
  top: 30%;
  left: -5%;
  font-family: Euclid Circular A;
  font-size: 25px;
  color: #D9FF5A;
  transform: scale(0);
  opacity: 0;
  transition: all 0.5s;
}
.product-price{
  font-size: 28px;
  font-family: Floreste;
}
.buy-button-image{
  position: absolute;
  top: 75%;
  left: 68%;
  transform: scale(0);
  opacity: 0;
  transition: all 0.5s;
}
.slide{
  color: white;
  font-family: Euclid Circular A;
  font-size: 15px;
  opacity: 0;
  position: absolute;
  top: 80%;
  left: 43%;
  transition: opacity 0.6s;
}
.product-number{
  color: white;
  font-family: Floreste;
  font-size: 40px;
  opacity: 0;
  position: absolute;
  top: 83%;
  left: 47%;
  transition: opacity 0.6s;
}
.middle-section-title{
  font: 60px Euclid Circular A;
  color: white;
  text-align: center;
}
.middle-section-flexbox{
  display: flex;
  gap: 70px;
}
.middle-section-product-card{
  position: relative;
}
.middle-section-product-card-title{
  position: absolute;
  top: 5%;
  left: 5%;
  width: 140px;
  font: 28px Euclid Circular A;
  color: white;
}
.middle-section-product-card-product{
  position: absolute;
  top: 22%;
  left: 21%;
}
.middle-section-product-card-info{
  position: absolute;
  left: 5%;
  bottom: 12%;
}
.middle-section-product-card-count{
  position: absolute;
  right: -8%;
  top: 30%;
}
.middle-section-extend-button{
  position: absolute;
  bottom: -12%;
  left: 37.5%;
  color: #D9FF5A;
  background-color: #EBE3FF30;
  border: 1px solid #D9FF5A;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  font-size: 40px;
}
.middle-section-extend-button:hover{
  background-color: #D9FF5A;
  border: none;
  color: #EBE3FF30;
}
.middle-section-extend-button:active{
  background-color: #c3ff00;
  border: none;
  color: #EBE3FF30;
}
.undermiddle-section-image{
  width: 1860px;
}
.mid-sec-e-panel{
  position: absolute;
  transition: all 0.5s;
}
.mid-sec-e-panel-zero{
  position: absolute;
  transform: scale(0);
  transition: all 0.5s;
}
.mid-sec-e-button{
  position: absolute;
  top: 100%;
  left: 38%;
  cursor: pointer;
  transition: all 0.5s;
}
.mid-sec-e-button-zero{
  position: absolute;
  transform: scale(0);
  transition: all 0.5s;
}
.bottom-section-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: 60px Euclid Circular A;
  color: white;
  padding-left: 50px;
  padding-right: 200px;
  margin-bottom: 50px;
}
.bottom-section-wrapper{
  display: flex;
  gap: 30px;
  margin-bottom: 150px;
}
.bottom-section-wrapper img{
  cursor: pointer;
}
.bottom-section-info{
  display: flex;
  justify-content: space-between;
  color: white;
  font: 22px Gilroy;
  padding-left: 10px;
  padding-right: 80px;
}