.title{
  font-family: LeMurmure;
  font-size: 45px;
  color: white;
  margin-right: 130px;
}
.circles{
  margin-right: 10px;
}
.catalog-button{
  font-family: Euclid Circular A;
  font-size: 18px;
  color: white;
  margin-right: 280px;
  cursor: pointer;
}
.news-button{
  font-family: Euclid Circular A;
  font-size: 18px;
  color: white;
  margin-right: 45px;
  cursor: pointer;
}
.contacts-button{
  font-family: Euclid Circular A;
  font-size: 18px;
  color: white;
  margin-right: 390px;
  cursor: pointer;
}
.search-image{
  vertical-align: bottom;
  margin-right: 12px;
  cursor: pointer;
}
.search-box{
  border: none;
  background-color: rgba(0, 0, 0, 0);
  margin-right: 55px;
  height: 30px;
  width: 220px;
  color: white;
  font-size: 18px;
  font-family: Euclid Circular A;
  outline: 0;
}
.search-box::placeholder{
  color: white;
  font-size: 18px;
  font-family: Euclid Circular A;
}
.icons{
  margin-right: 50px;
  cursor: pointer;
  border-radius: 100px;
}
.icons:hover{
  background-color: rgba(255, 255, 255, 0.3);
}
.product-author{
  position: absolute;
  top: 50%;
  left: 5%;
  font-size: 100px;
  font-family: Floreste;
  color: #CBB6FF;
  transition: font-size 0.5s, left 0.5s, opacity 0.5s;
}
.product-card2 .product-author{
  color: #FFA8F6;
}
.product-card3 .product-author{
  color: #C8DEFF;
}
.product-incard-image{
  position: absolute;
  top: 27%;
  left: 27%;
  height: 425px;
  width: 290px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.5s, width 0.5s, height 0.5s, left 0.5s, top 0.5s;
}
.product-info{
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 75%;
  left: 25%;
  text-align: center;
  transition: left 0.5s, opacity 0.5s;
}
.product-card3 .product-info{
  left: 27%;
}
.product-info p{
  margin: 0;
  width: 275px;
  font-family: Euclid Circular A;
  color: white;
}
.line{
  width: 274px;
  color: #FFFFFF33;
  border: solid;
  border-width: 1px;
}
.daily-product{
  position: absolute;
  font-family: Euclid Circular A;
  font-size: 25px;
  color: #D9FF5A;
  opacity: 0;
  left: -150%;
  top: -100%;
  transition: opacity 1s;
}
.product-price{
  font-size: 28px;
  font-family: Floreste;
}
.buy-button-image{
  position: absolute;
  left: -550%;
  opacity: 0;
  transition: opacity 0.15s;
}
.product-card3 .buy-button-image{
  left: 1050%;
}
.slide{
  color: white;
  font-family: Euclid Circular A;
  font-size: 15px;
  opacity: 0;
  position: absolute;
  top: 80%;
  left: 43%;
  transition: opacity 0.6s;
}
.product-number{
  color: white;
  font-family: Floreste;
  font-size: 40px;
  opacity: 0;
  position: absolute;
  top: 83%;
  left: 47%;
  transition: opacity 0.6s;
}