@font-face {
  font-family: "LeMurmure";
  src: url(sources/fonts/LeMurmure-Regular.woff2);
}
@font-face {
  font-family: "Euclid Circular A";
  src: url(sources/fonts/Euclid\ Circular\ A\ Regular.ttf);
}
@font-face {
  font-family: "Floreste";
  src: url(sources/fonts/Floreste.otf);
}
@font-face {
  font-family: "Gilroy";
  src: url(sources/fonts/Gilroy-Regular.ttf);
}
html{
  width: 1920px;
  scroll-behavior: smooth;
}
body{
  margin: 0;
  height: 100%;
  width: 1920px;
}
.root{
  position: relative;
  height: 100%;
  width: 1870px;
  padding: 25px;
  background-color: #AE97E8;
}
.main-wrapper{
  display: flex;
  flex-direction: column;
  gap: 80px;
  position: relative;
  transition: all 0.5s;
}
.main-wrapper-zero{
  display: flex;
  flex-direction: column;
  gap: 50px;
  transform: scale(0);
  transition: all 0.5s;
}
.top-header{  
  position: absolute;
  left: 80px;
  top: 37px;
  z-index: 60;
}
.products-wrapper{
  position: relative;
  display: flex;
  gap: 20px;
  z-index: 50;
  transform: scale(1);
  transition: all 0.5s;
}
.first-modal-passive-zero{
  position: absolute;
  width: 1870px;
  height: 1030px;
  opacity: 0;
  transform: scale(0);
  transition: all 1s;
}
.first-modal-passive{
  position: absolute;
  top: 0%;
  width: 1870px;
  height: 1030px;
  transition: all 1s;
}
.products-wrapper-zero{
  transform: scale(0);
  transition: all 0.5s;
}
.top-section{
  position: relative;
  height: 1030px;
}
.top-section-zero{
  position: relative;
  height: 1030px;
  transform: scale(0);
}
.middle-section{
  position: relative;
  margin-bottom: 200px;
}
.undermiddle-section{
  position: relative;
}
.mid-sec-e{
  position: relative;
  margin-top: 150px;
  height: 500px;
  transition: all 0.5s;
}
.mid-sec-e-zero{
  transform: scale(0);
  transition: all 0.5s;
}
.bottom-section{
  position: relative;
}